@model LatheContext
@{
    ViewData["Title"] = "RauteVE";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript" src="~/js/raute.js"></script>
<div class="text-center">
    <div id="contentView" class="text-center">
        <h1 class="display-4 main-page-title">@ViewData["PageHead"]</h1>
        <button type="button" id="buttonLeft" class="btn btn-outline-warning" style="margin-bottom: 15px;" onclick="onLeftViewButtonClick()">
            <span>Просмотреть предыдущую</span>
        </button>
        <button type="button" id="buttonRight" if class="btn btn-outline-warning" style="margin-bottom: 15px;" onclick="onRightViewButtonClick()">
            <span>Просмотреть текущую</span>
        </button>
        <div class="container">
            <ul class="nav nav-tabs" id="RauteCurrentTab">
                <li class="nav-item">
                    <a class="nav-link active raute-tab-link" data-toggle="tab" href="#total" style="color: #212529 !important;">Итого</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link raute-tab-link" data-toggle="tab" href="#churak" style="color: #212529 !important;">Чурак</a>
                </li>
                <li class="nav-item" id="tablesLiNode">
                    <a class="nav-link raute-tab-link" data-toggle="tab" href="#tables" style="color: #212529 !important;">Столы</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link raute-tab-link" data-toggle="tab" href="#shpon" style="color: #212529 !important;">Сырой шпон</a>
                </li>
            </ul>
            <div id="myTabContent" class="tab-content">
                <div class="tab-pane fade active show text-center raute-tab-container" id="total">
                    <div class="spinner-border text-warning" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
                <div class="tab-pane fade text-center raute-tab-container" id="churak">
                    <div class="spinner-border text-warning" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
                <div class="tab-pane fade text-center raute-tab-container" id="tables">
                    <div class="spinner-border text-warning" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
                <div class="tab-pane fade text-center raute-tab-container" id="shpon">
                    <div class="spinner-border text-warning" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function onLeftViewButtonClick() {
        console.log("123");
        location.href = location.origin + location.pathname + '?type=Previous';
    }
    function onRightViewButtonClick() {
        location.href = location.origin + location.pathname + '?type=Current';
    }
    jQuery(document).ready(function ($) {
        var type = getUrlParameter("type");
        if (type == "Previous") {
            $("#buttonLeft").hide();
            $("#tables").hide();
            $("#tablesLiNode").hide();
        } else if (type == "Current") {
            $("#buttonRight").hide();
        }
    });
</script>