@model LatheContext
<h1 class="display-4 main-page-title">Предыдущая смена</h1>
<table>
    <tr>
        <td>
            @Model.BinsActuals.FirstOrDefault().Bin1Sheets
        </td>
    </tr>
</table>