@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 main-page-title">Производство</h1>
    <div class="text-center">
        <div class="text-center main-menu-button-conatiner">
            <button type="button" class="btn btn-warning btn-lg main-menu-button" onclick="location.href='@Url.Action("Index","RauteVE", new { type = "Current"})'">Raute VE Текущая смена</button>
        </div>
        <div class="text-center main-menu-button-conatiner">
            <button type="button" class="btn btn-warning btn-lg main-menu-button" onclick="location.href='@Url.Action("Previous","RauteVE",  new { type = "Previous"})'">Raute VE Предыдущая Смена</button>
        </div>
    </div>
</div>
